@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.App {
  text-justify: auto;
  height: 100vh;
}
div{
  font-family: Inter;
  font-weight: 400;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited{
  color: #000000;
}

/*nav bar css*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6em;
  color: #000000;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.navbar-logo{
  margin-left: 3rem;
}


.navbar-menu {
  display: flex;
  list-style: none;
  margin-right: 1rem;
  justify-content: flex-end;
  align-items: center;
}

.navbar-item {
  margin-left: 2rem;
  margin-right: 1rem;
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 1.2rem;
}

.log-but {
  border: none;
  padding: 0.6rem 2.8rem;
  border-radius: 2rem;
  background-color: #247DFF;
  color: #FFFFFF;
  font-size: 1.2rem;
  cursor: pointer;
  margin-right: 2.5rem;
}

.log-but:hover {
  background-color: #1152c2;
}

/*Hero section*/

.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: right;
  height: 80vh;
  z-index: 0;
  padding: 0;
}

.hero-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 10%;
}

.hero-heading {
  font-size: 4.5rem;
  font-weight: bold;
  margin: 0;
  font-weight: 900;
}

#hope{
  color: #247DFF;
}

.hero-paragraph {
  margin-top: 2rem;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.hero-buttons{
  display: flex;
  flex-direction: row;
}

.hero-buttons {
  border: none;
  border-radius: 0.5rem;
  margin-right: 1rem;
  font-size: 1.7rem;
  cursor: pointer;
}

.login-button {
  border: none;
  padding: 0.6rem 2.8rem;
  border-radius: 2rem;
  background-color: #247DFF;
  color: #FFFFFF;
  font-size: 1.7rem;
  cursor: pointer;
  margin-right: 2.5rem;
}

.login-button:hover {
  background-color: #1152c2;
}

.how-it-works-button {
  border: none;
  padding: 0.6rem 2.8rem;
  border-radius: 2rem;
  background-color: #FFFFFF;
  border-style: solid;
  border-color: #247DFF;
  border-width: 1px;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.hero-png{
  width: auto;
  height: 90vh;
  margin: 0;
  padding: 0;
  
}

/* login page css donor login css*/
.Login{
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.Login-Left{
  width: 50vw;
  background-color: #247DFF;
}

.Login-Right{
  width: 50vw;
}



.login-logo{
  padding-top: 5rem;
  padding-left: 5rem;
}

.Login-text-section{
  margin-left: 5rem;
  margin-top: 20vh;
}

.Login-heading {
  font-size: 4rem;
  font-weight: 900;
  margin: 0;
  color: #FFFFFF;
  font-weight: 900;
}

.Login-paragraph {
  margin-top: 2rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  margin-right: 15rem;
  color: #FFFFFF;
}

.mini-navbar {
  display: flex;
  flex-direction: column;
  padding: .9em;
  padding-right: 2rem;
  z-index: 1;
}

.mini-navbar-menu {
  display: flex;
  list-style: none;
  margin-right: 1rem;
  justify-content: flex-end;
}

.mini-navbar-item {
  margin-left: 2rem;
  margin-right: 1rem;
  text-decoration: none;
  color: #808080;
  font-weight: bold;
  font-size: 1.2rem;
}

.mini-navbar-item a:visited {
  color: #808080;
}

.LogDonorFields{
  display: flex;
  flex-direction: row;
  padding-top: 2em;
}

.LogDonor{
  position: relative;
  margin-left: 4rem;
  margin-top: 25vh;
  width: 50%;
}

.LogDonor h1{
  font-size: 2.5rem;
  font-weight: bolder;
}

#Email-logDonor{
  align-content: center;
  justify-content: center;
  background: #E2E2E2;
  border-radius: 59px;
  border-style: none;
  width: 94%;
  height: 0.5rem;
  margin-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}

#Metamask-Button{
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  width: 100%;
  white-space: normal;
  text-align: center;
  color: black;
  box-shadow: inset 0 0 0 2px #616467;
  background-color: transparent;
  height: 3rem;
  margin-top: 1rem;

}

.LogDonor button {
  border: none;
  padding: 0.6rem 2.8rem;
  border-radius: 2rem;
  background-color: #247DFF;
  color: #FFFFFF;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 3rem;
}

.LogDonor button:hover {
  background-color: #1152c2;
  
}

/* login page css donor sign css*/

.DonorSignUpBox{
  background-color: #6693e0;
  margin: 5rem;
  margin-top: 0;
  
}

.DonorSignUpBox h1{
  font-size: 3rem;
  
}

.SignUpGrid {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-gap: 2rem;
}


.SignUpGrid label input {
  align-content: center;
  justify-content: center;
  background: #E2E2E2;
  border-radius: 10px;
  border-style: none;
  height: 2rem;
  margin-top: 0rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  width: 80%;
}

.residential-address {
  background-color: #000000;
  grid-column-start: 1;
  grid-column-end: 3;
}

.residential-address input {
  width: max-content;
}